.cards {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 4rem 4rem 4rem;
}

.card {
    cursor: pointer;
    width: 300px;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: white;
    color: black;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
}

img {
    height: 350px;
    width: 300px;
    border-radius: 10px;
}